<a class="popupClose">x</a>
<h1 class="exception-header">Error</h1>

<div class="exception-content">
    <b>Your mcollective request raised the following exception.</b><br><br>
    <i><%= @e %></i>
</div>
